:root {	
	--h: 235;
	--s: 86%;
	--l: 65%;
}

:root.theme-dark,
.theme-dark,
.default-colors,
.theme-light,
body {
	--blurple: hsl(var(--h), var(--s), var(--l)) !important;
    
	--blurple-50: hsl(from var(--blurple) calc(h - 0) calc(s + 0) calc(l + 0));

	
	--blurple-49: hsl(from var(--blurple-50) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.04) 
	calc(var(--l) + (100% - var(--l))*0.01));
    
	--blurple-48: hsl(from var(--blurple-49) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.08) 
	calc(var(--l) + (100% - var(--l))*0.02));
    
	--blurple-47: hsl(from var(--blurple-48) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.12) 
	calc(var(--l) + (100% - var(--l))*0.03));
    
	--blurple-46: hsl(from var(--blurple-47) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.16) 
	calc(var(--l) + (100% - var(--l))*0.04));
    
	--blurple-45: hsl(from var(--blurple-46) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.20)  
	calc(var(--l) + (100% - var(--l))*0.06));
	
	--blurple-44: hsl(from var(--blurple-45) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.24) 
	calc(var(--l) + (100% - var(--l))*0.08));
    
	--blurple-43: hsl(from var(--blurple-44) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.28) 
	calc(var(--l) + (100% - var(--l))*0.10));
	
	--blurple-42: hsl(from var(--blurple-43) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.32) 
	calc(var(--l) + (100% - var(--l))*0.11));
    
	--blurple-41: hsl(from var(--blurple-42) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.36) 
	calc(var(--l) + (100% - var(--l))*0.12));
    
	--blurple-40: hsl(from var(--blurple-41) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.40)  
	calc(var(--l) + (100% - var(--l))*0.14));
    
	--blurple-39: hsl(from var(--blurple-40) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.44) 
	calc(var(--l) + (100% - var(--l))*0.16));
    
	--blurple-38: hsl(from var(--blurple-39) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.48) 
	calc(var(--l) + (100% - var(--l))*0.18));
    
	--blurple-37: hsl(from var(--blurple-38) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.52) 
	calc(var(--l) + (100% - var(--l))*0.20));
    
	--blurple-36: hsl(from var(--blurple-37) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.56) 
	calc(var(--l) + (100% - var(--l))*0.22));
    
	--blurple-35: hsl(from var(--blurple-36) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.60)  
	calc(var(--l) + (100% - var(--l))*0.24));
    
	--blurple-34: hsl(from var(--blurple-35) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.65) 
	calc(var(--l) + (100% - var(--l))*0.26));
    
	--blurple-33: hsl(from var(--blurple-34) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.70) 
	calc(var(--l) + (100% - var(--l))*0.28));
    
	--blurple-32: hsl(from var(--blurple-33) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.75) 
	calc(var(--l) + (100% - var(--l))*0.30));
    
	--blurple-31: hsl(from var(--blurple-32) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.80) 
	calc(var(--l) + (100% - var(--l))*0.32));
    
	--blurple-30: hsl(from var(--blurple-31) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.85)  
	calc(var(--l) + (100% - var(--l))*0.34));
    
	--blurple-29: hsl(from var(--blurple-30) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.86) 
	calc(var(--l) + (100% - var(--l))*0.36));
    
	--blurple-28: hsl(from var(--blurple-29) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.87) 
	calc(var(--l) + (100% - var(--l))*0.38));
    
	--blurple-27: hsl(from var(--blurple-28) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.87) 
	calc(var(--l) + (100% - var(--l))*0.40));
    
	--blurple-26: hsl(from var(--blurple-27) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.88) 
	calc(var(--l) + (100% - var(--l))*0.42));
    
	--blurple-25: hsl(from var(--blurple-26) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.88)  
	calc(var(--l) + (100% - var(--l))*0.44));
    
	--blurple-24: hsl(from var(--blurple-25) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.89) 
	calc(var(--l) + (100% - var(--l))*0.46));
    
	--blurple-23: hsl(from var(--blurple-24) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.89) 
	calc(var(--l) + (100% - var(--l))*0.48));
    
	--blurple-22: hsl(from var(--blurple-23) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.90) 
	calc(var(--l) + (100% - var(--l))*0.50));
    
	--blurple-21: hsl(from var(--blurple-22) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.90) 
	calc(var(--l) + (100% - var(--l))*0.52));
    
	--blurple-20: hsl(from var(--blurple-21) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.91)  
	calc(var(--l) + (100% - var(--l))*0.54));
    
	--blurple-19: hsl(from var(--blurple-20) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.91) 
	calc(var(--l) + (100% - var(--l))*0.56));
    
	--blurple-18: hsl(from var(--blurple-19) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.92) 
	calc(var(--l) + (100% - var(--l))*0.58));
    
	--blurple-17: hsl(from var(--blurple-18) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.92) 
	calc(var(--l) + (100% - var(--l))*0.60));
    
	--blurple-16: hsl(from var(--blurple-17) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.93) 
	calc(var(--l) + (100% - var(--l))*0.62));
    
	--blurple-15: hsl(from var(--blurple-16) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.93)  
	calc(var(--l) + (100% - var(--l))*0.64));
    
	--blurple-14: hsl(from var(--blurple-15) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.94) 
	calc(var(--l) + (100% - var(--l))*0.66));
    
	--blurple-13: hsl(from var(--blurple-14) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.94) 
	calc(var(--l) + (100% - var(--l))*0.68));
    
	--blurple-12: hsl(from var(--blurple-13) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.95) 
	calc(var(--l) + (100% - var(--l))*0.70));
    
	--blurple-11: hsl(from var(--blurple-12) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.95) 
	calc(var(--l) + (100% - var(--l))*0.71));
    
	--blurple-10: hsl(from var(--blurple-11) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.96)  
	calc(var(--l) + (100% - var(--l))*0.72));
    
	--blurple-9: hsl(from var(--blurple-10) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.97) 
	calc(var(--l) + (100% - var(--l))*0.74));
    
	--blurple-8: hsl(from var(--blurple-9) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.98) 
	calc(var(--l) + (100% - var(--l))*0.76));
    
	--blurple-7: hsl(from var(--blurple-8) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*0.99) 
	calc(var(--l) + (100% - var(--l))*0.78));
    
	--blurple-6: hsl(from var(--blurple-7) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00) 
	calc(var(--l) + (100% - var(--l))*0.80));
    
	--blurple-5: hsl(from var(--blurple-6) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00)  
	calc(var(--l) + (100% - var(--l))*0.82));
    
	--blurple-4: hsl(from var(--blurple-5) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00) 
	calc(var(--l) + (100% - var(--l))*0.84));
    
	--blurple-3: hsl(from var(--blurple-4) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00) 
	calc(var(--l) + (100% - var(--l))*0.86));
    
	--blurple-2: hsl(from var(--blurple-3) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00) 
	calc(var(--l) + (100% - var(--l))*0.88));
    
	--blurple-1: hsl(from var(--blurple-2) 
	calc(h - 0.2) 
	calc(var(--s) + (100% - var(--s))*1.00)  
	calc(var(--l) + (100% - var(--l))*0.90));
    


	--blurple-51: hsl(from var(--blurple-50) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*5)))
	calc(var(--l) - (var(--l))*0.05));
	
	--blurple-52: hsl(from var(--blurple-51) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*10)))
	calc(var(--l) - (var(--l))*0.10));
	
	--blurple-53: hsl(from var(--blurple-52) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*15)))
	calc(var(--l) - (var(--l))*0.13));
    
	--blurple-54: hsl(from var(--blurple-53) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*20)))
	calc(var(--l) - (var(--l))*0.15));
	
	--blurple-55: hsl(from var(--blurple-54) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*21)))
	calc(var(--l) - (var(--l))*0.17) );
	
	--blurple-56: hsl(from var(--blurple-55) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*22)))
	calc(var(--l) - (var(--l))*0.19));
	
	--blurple-57: hsl(from var(--blurple-56) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*23)))
	calc(var(--l) - (var(--l))*0.21));
	
	--blurple-58: hsl(from var(--blurple-57) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*24)))
	calc(var(--l) - (var(--l))*0.23));
	
	--blurple-59: hsl(from var(--blurple-58) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*24)))
	calc(var(--l) - (var(--l))*0.25));
	
	--blurple-60: hsl(from var(--blurple-59) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.27) );
    
	--blurple-61: hsl(from var(--blurple-60) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.29));
	
	--blurple-62: hsl(from var(--blurple-61) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.31));
	
	--blurple-63: hsl(from var(--blurple-62) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.32));
	
	--blurple-64: hsl(from var(--blurple-63) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.33));
	
	--blurple-65: hsl(from var(--blurple-64) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.34) );
    
	--blurple-66: hsl(from var(--blurple-65) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.35));
	
	--blurple-67: hsl(from var(--blurple-66) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.37));
	
	--blurple-68: hsl(from var(--blurple-67) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*26)))
	calc(var(--l) - (var(--l))*0.38));
	
	--blurple-69: hsl(from var(--blurple-68) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*26)))
	calc(var(--l) - (var(--l))*0.39));
	
	--blurple-70: hsl(from var(--blurple-69) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*25)))
	calc(var(--l) - (var(--l))*0.40) );
	
	--blurple-71: hsl(from var(--blurple-70) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*24)))
	calc(var(--l) - (var(--l))*0.42));
	
	--blurple-72: hsl(from var(--blurple-71) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*23)))
	calc(var(--l) - (var(--l))*0.44));
    
	--blurple-73: hsl(from var(--blurple-72) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*23)))
	calc(var(--l) - (var(--l))*0.46));
	
	--blurple-74: hsl(from var(--blurple-73) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*22)))
	calc(var(--l) - (var(--l))*0.47));
    
	--blurple-75: hsl(from var(--blurple-74) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*21)))
	calc(var(--l) - (var(--l))*0.48));
	
	--blurple-76: hsl(from var(--blurple-75) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*20)))
	calc(var(--l) - (var(--l))*0.49));
	
	--blurple-77: hsl(from var(--blurple-76) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*19)))
	calc(var(--l) - (var(--l))*0.50));
	
	--blurple-78: hsl(from var(--blurple-77) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*18)))
	calc(var(--l) - (var(--l))*0.52));
	
	--blurple-79: hsl(from var(--blurple-78) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*17)))
	calc(var(--l) - (var(--l))*0.54));
	
	--blurple-80: hsl(from var(--blurple-79) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*16)))
	calc(var(--l) - (var(--l))*0.56));
    
	--blurple-81: hsl(from var(--blurple-80) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*15)))
	calc(var(--l) - (var(--l))*0.58));
	
	--blurple-82: hsl(from var(--blurple-81) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*14)))
	calc(var(--l) - (var(--l))*0.60));
    
	--blurple-83: hsl(from var(--blurple-82) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*13)))
	calc(var(--l) - (var(--l))*0.62));
    
	--blurple-84: hsl(from var(--blurple-83) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*12)))
	calc(var(--l) - (var(--l))*0.64));
    
	--blurple-85: hsl(from var(--blurple-84) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*11)))
	calc(var(--l) - (var(--l))*0.66) );
    
	--blurple-86: hsl(from var(--blurple-85) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*10)))
	calc(var(--l) - (var(--l))*0.68));
    
	--blurple-87: hsl(from var(--blurple-86) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*9)))
	calc(var(--l) - (var(--l))*0.70));
    
	--blurple-88: hsl(from var(--blurple-87) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*8)))
	calc(var(--l) - (var(--l))*0.72));
    
	--blurple-89: hsl(from var(--blurple-88) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*7)))
	calc(var(--l) - (var(--l))*0.74));
    
	--blurple-90: hsl(from var(--blurple-89) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*6)))
	calc(var(--l) - (var(--l))*0.76) );
    
	--blurple-91: hsl(from var(--blurple-90) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*5)))
	calc(var(--l) - (var(--l))*0.78));
    
	--blurple-92: hsl(from var(--blurple-91) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*4)))
	calc(var(--l) - (var(--l))*0.80));
    
	--blurple-93: hsl(from var(--blurple-92) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*3)))
	calc(var(--l) - (var(--l))*0.82));
    
	--blurple-94: hsl(from var(--blurple-93) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*2)))
	calc(var(--l) - (var(--l))*0.84));
    
	--blurple-95: hsl(from var(--blurple-94) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*1)))
	calc(var(--l) - (var(--l))*0.86) );
    
	--blurple-96: hsl(from var(--blurple-95) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*0)))
	calc(var(--l) - (var(--l))*0.88));
    
	--blurple-97: hsl(from var(--blurple-96) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*0.75)))
	calc(var(--l) - (var(--l))*0.90));
    
	--blurple-98: hsl(from var(--blurple-97) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*0.50)))
	calc(var(--l) - (var(--l))*0.92));
    
	--blurple-99: hsl(from var(--blurple-98) 
	calc(h - 0.1)
	calc(var(--s) - (var(--s)*(0.018*0.25)))
	calc(var(--l) - (var(--l))*0.94) );
    
	--blurple-100: hsl(from var(--blurple-99) 0 calc(1*0%) 0% /1);
}    